  
<div class="panel panel-default" ng-init="getUser()">
  <div class="panel-heading">
    <h3 class="panel-title">Client</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      
        <div class="col-md-6">
          <div class="col-md-6">
            <p>Lastname  : {{user.identity.last_name}}</p>
            <p>Firstname : {{user.identity.first_name}}</p>
            <p>Phone     : {{user.phone_plan.phone_number}}</p>
            <p>Plan      : {{user.phone_plan.subscription}}</p>
            <!-- <p>Title : {{user.VOD.rented_videos.title}}</p> -->
          </div>
          <div class="col-md-6">
            
          </div>
        </div>
      
    </div>
  </div>
</div>